body {
    background: #f5f7fb;
}

.card {
    border: none;
    border-radius: 16px;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.navbar-brand {
    font-size: 1.4rem;
}

.btn-primary {
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-3px);
    transition: .2s;
}